</main>
<footer class="footer-container text-body-secondary py-5 mt-auto">
  <div class="container">
    <p class="float-end">
      <a href="#">Back to top</a>
    </p>

    <p class="footer-text">
      Thank you for visiting our blog!
    </p>

    <p class="footer-text">
      New to BlogIt?
      <a href="/">Visit the homepage</a>
      or write your own post
      <a href="/post-add">here</a>!
    </p>
  </div>

  <div class="container">
    <p class="footer-text mt-3">Copyright © <%= new Date().getFullYear() %></p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<body>

<html>