<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
 
<body class="d-flex flex-column min-vh-100">
  <main>
    <header>
    <!-- PUT THE COLLAPSE SECTION HERE -->
    <div class="text-bg-header collapse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                <h4 class="navbar-text">About</h4>
                <p class="navbar-text">
                    BlogIt is a cozy space for sharing thoughts, stories, and everyday ideas. 
                    Whether it is a quick reflection, a personal update, or a longer piece, this blog is made for simple writing and easy reading.

                </p>
                </div>

                <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="navbar-text">Contact</h4>
                <ul class="list-unstyled">
                    <li><a href="https://x.com/" class="text-white">Follow on X</a></li>
                    <li><a href="https://facebook.com/" class="text-white">Like on Facebook</a></li>
                    <li><a href="https://gmail.com/" class="text-white">Email me</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- YOUR NAVBAR GOES RIGHT AFTER IT -->
    <div class="navbar navbar-dark navbar-bg shadow-sm">
        <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
            </svg>            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
            <circle cx="12" cy="13" r="4"></circle>
            </svg>
            <strong>BlogIt</strong>
        </a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </div>
    </header>
    